<h1>Edit your Tweet:</h1>

<form action="/tweets/<%=@tweet.id%>" method="POST">

     <input type="hidden" name="_method" value="PATCH">

        <h3>Edit Tweet: <input type="text" name="content" id="content" value="<%= @tweet.content%>"> </h3>

        <input type="submit" value="Edit Tweet">

   </form>